body {
  width: 400px;
  height: 300px;
  background-color: #f0f8ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  background-image: src= '/dark-logo.png';
  background-repeat: no-repeat;
  background-size: cover;
}

.connect-button {
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: #4caf50;
  color: white;
}

.connect-button:hover {
  background-color: #45a049;
}

#connect-espn {
  font-size: 16px;
  padding: 5px 20px;
}

#connect-user {
  font-size: 16px;
  padding: 5px 20px;
}

.leagues {
  width: 100%;
  padding: 20px; /* Add some padding to the container */
  background-color: #f5f5f5; /* Light grey background for better contrast */
  border-radius: 10px; /* Round the corners a bit */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

#leagues-header {
  text-align: center; /* Center the header */
  color: #333; /* Dark grey text for contrast */
  font-size: 1.2em; /* Increase font size */
  font-weight: 600; /* Make header bold */
  margin-bottom: 15px; /* Add some space below the header */
}

#league-list {
  list-style-type: none; /* Remove default list bullet points */
  padding: 0; /* Remove default padding */
}

#league-list > li {
  padding: 15px; /* Increase space around each item */
  border-bottom: 1px solid #ccc; /* Divider between items */
  text-align: center; /* Center the list text */
  color: #666; /* Dark grey text */
  background-color: #0b2257;
  color: white;
  font-weight: bold;
  font-size: 1.1em; /* Increase font size */
  border-radius: 5px; /* Rounded corners for each list item */
  margin-bottom: 10px; /* Space between list items */
  transition: background-color 0.3s; /* Smooth transition */
}

#league-list > li:hover {
  background-color: #e6e6e6; /* Change background color on hover */
}

#league-list > li:last-child {
  border-bottom: none; /* Remove divider from last item */
}

#notifications {
  width: 80%; /* Adjust to your needs */
  padding: 15px;
  color: #721c24; /* Dark red */
  background-color: #f8d7da; /* Light red */
  border: 1px solid #f5c6cb; /* Mid-tone red */
  border-radius: 4px;
  margin: 10px auto; /* Center the notifications div horizontally */
  text-align: center;
  font-weight: bold;
  transition: opacity 0.3s ease;
  opacity: 0; /* By default, the notifications div is invisible */
}

#notifications.active {
  opacity: 1; /* When the .active class is added, the notifications div becomes visible */
}

#notifications.success {
  color: #155724; /* Dark green */
  background-color: #d4edda; /* Light green */
  border-color: #c3e6cb; /* Mid-tone green */
}

#user-info {
  width: 80%; /* Adjust to your needs */
  padding: 15px;
  color: #383d41; /* Dark grey */
  background-color: #e2e3e5; /* Light grey */
  border: 1px solid #d6d8db; /* Mid-tone grey */
  border-radius: 4px;
  margin: 10px auto; /* Center the notifications div horizontally */
  text-align: center;
  font-weight: bold;
  transition: opacity 0.3s ease;
  opacity: 0; /* By default, the user-info div is invisible */
}

#user-info.active {
  opacity: 1; /* When the .active class is added, the user-info div becomes visible */
}
